@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Dark scrollbars */
* {
    scrollbar-width: thin;
    scrollbar-color: #27272a #09090b;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: #09090b;
}

*::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
}
